sudo: false
language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm
 
matrix:
    allow_failures:
        - php: hhvm

before_script:
  - composer self-update
  - composer install
  - phpenv rehash

script:
  - phpunit --coverage-text
